.img-fija
  position: absolute
  bottom: 0px
  right: 10%
  max-width: 76%
.circulo
  animation: spin 17s linear infinite
  position: absolute
  bottom: 4%
  right: 11%
  max-width: 72%
@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
.banner-principal-decorativo
  &-1
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 15%
    width: 16%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 12%
    right: 59%
    width: 17%
  &-3
    animation: float1 2.6s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 56%
    width: 18%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-secundario
figcaption
  font-weight: normal
.barra-avance__boton--regresar span
  color: $white !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url('../assets/curso/portada/mini-portada.png') !important

.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #F8E29E
      h4
          color: $color-sistema-texto

.crd_hover_txt--body
  position: absolute
  padding: 1.5rem
  bottom: 0    
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
  transform: translateY(calc( 100% - 3.85rem ))
  background-color: #366356
  border-radius: 20px
  h4
    color: #FFF

@media (min-width:1200px) and (max-width:1400px)  
  .crd_hover_txt--body
    p
      font-size: 0.85em
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.bg-fondo
  &-1
    background-image: url("../assets/curso/temas/bg/1.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 45px;
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-color
  &-1
    background-color: #F8E29E !important
  &-2
    background-color: #DBE8E4 !important


.w-fit
  width: fit-content !important
.br
  &-1
    border-radius: 10px !important
.ml-cus
  &-1
    margin-left: 30px !important
.hcard
  &-1
    height: 750px !important
.wcus
  &-1
    width: 30% !important




/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: 1200px)
  .mb-cus
    margin-bottom: 2em  !important  
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .bloque-texto-g
        padding-top: 50px !important;

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .bg-full-width 
    margin-inline: -1.3rem;
  .bloque-texto-g
        padding-top: 20px !important;